<div id="cart-item-{{ cart_item.id }}" class="card-body mb-3 shadow-lg" hx-target="this" hx-swap="innerHTML">
    <div class="flex justify-between items-center">
        <div class="center">
            {% if not cart_item.product.is_custom %}
            <a href="{% url 'product_detail' pk=cart_item.product.id %}">
            {% endif %}

                <img src="{{ cart_item.product.image.url }}" class="img-fluid rounded" alt="{{ cart_item.product.name }}" style="width: 100px; height: 100px; object-fit: cover;">

            {% if not cart_item.product.is_custom %}
            </a>
            {% endif %}
        </div>
        <div class="center" style="flex: 1; max-width: 200px; text-align: left; padding-right: 10px;">
            <p class="card-text font-medium truncate" style="margin: 0;">{{ cart_item.product.name }}</p>
            <p class="card-text font-medium" style="margin: 0;">{{ cart_item.product.price }} LEI</p>
             {% if cart_item.product.category not in 'CustomBouquet' %}
                {% if cart_item.product.category not in 'buchete,aranjamente' %}
                    <p class="card-text text-sm text-gray-500" style="margin: 0;">Stoc: {{ cart_item.product.stock }}</p>
                {% else %}
                    {% if not cart_item.product.bid_submited %}
                        <p class="card-text text-sm text-gray-500" style="margin: 0;">10 max</p>
                    {% else %}
                        <p class="card-text text-sm text-gray-500" style="margin: 0;">Buchetul va fi disponibil pana la {{ cart_item.reserved_until }}</p>
                    {% endif %}
                {% endif %}
             {% endif %}
        </div>

        <div class="flex items-center space-x-2">

            {% if not cart_item.product.bid_submited %}
            <a href="{% url 'decrement_quantity' product_id=cart_item.product.id %}" 
               class="btn btn-primary btn-sm center bg-green-600 text-white"
               hx-get="{% url 'decrement_quantity' product_id=cart_item.product.id %}" 
               hx-target="#cart-item-{{ cart_item.id }}" 
               hx-swap="outerHTML">-</a>
            {%endif %}

            <div class="center" style="padding: 0 10px; text-align: center;">
                <p class="card-text font-bold text-lg" style="margin: 0; font-size: 1.2rem;">{{ cart_item.quantity }}</p>
            </div>

            {% if not cart_item.product.bid_submited %}
            <a href="{% url 'increment_quantity' product_id=cart_item.product.id %}" 
               class="btn btn-primary btn-sm center bg-green-600 text-white 
               {% if cart_item.product.category in 'buchete,aranjamente' %}
                   {% if cart_item.quantity >= 10 %}opacity-50 cursor-not-allowed pointer-events-none{% endif %}
               {% else %}
                   {% if cart_item.quantity >= cart_item.product.stock %}opacity-50 cursor-not-allowed pointer-events-none{% endif %}
               {% endif %}"
               {% if cart_item.product.category in 'buchete,aranjamente' %}
                   {% if cart_item.quantity < 10 %}
                       hx-get="{% url 'increment_quantity' product_id=cart_item.product.id %}" 
                       hx-target="#cart-item-{{ cart_item.id }}" 
                       hx-swap="outerHTML"
                   {% endif %}
               {% else %}
                   {% if cart_item.quantity < cart_item.product.stock %}
                       hx-get="{% url 'increment_quantity' product_id=cart_item.product.id %}" 
                       hx-target="#cart-item-{{ cart_item.id }}" 
                       hx-swap="outerHTML"
                   {% endif %}
               {% endif %}
            >+</a>
            {%endif %}

             

        </div>
        <div class="center" style="min-width: 120px; text-align: right;">
            <p class="card-text">Subtotal: {{ cart_item.total_price }} LEI </p>
        </div>
        <div class="center">
            <a href="{% url 'remove_from_cart' product_id=cart_item.product.id %}" 
               class="btn btn-danger btn-sm"
               hx-get="{% url 'remove_from_cart' product_id=cart_item.product.id %}" 
               hx-target="#cart-item-{{ cart_item.id }}" 
               hx-swap="outerHTML">Șterge</a>
        </div>
    </div>
</div>
