{% extends 'base.html' %}
{% block content %}

<div class="container mx-auto flex flex-col lg:flex-row gap-6 mt-20 py-16">
  <!-- Checkout Form Section -->
    <div class="w-full lg:w-2/3 bg-white shadow-lg rounded-lg p-6 relative" id="checkout-section-container">
        <!-- Loading Icon -->
        <div id="loading-indicator" class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-75 hidden" hx-indicator>
            <svg class="animate-spin h-8 w-8 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
        </div>

        <!-- HTMX Target -->
        <div id="checkout-section" 
            hx-get="{% url 'checkout_step_1' %}" 
            hx-trigger="load" 
            hx-swap="innerHTML">
            <!-- Step content will load here -->
        </div>
    </div>

  <!-- Order Summary -->
  <div class="w-full lg:w-1/3 bg-white shadow-lg rounded-lg p-6">
    <h3 class="text-lg font-bold text-gray-700">Order Summary</h3>
    <div class="max-h-44 overflow-y-auto space-y-2 mt-3">
      {% for item in cart_items %}
      <div class="flex items-center justify-between bg-gray-100 p-2 rounded-lg">
        <div class="flex items-center gap-3">
          <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-12 h-12 rounded-lg">
          <div>
            <p class="text-sm font-semibold">{{ item.product.name }}</p>
            <p class="text-xs text-gray-500">Qty: {{ item.quantity }}</p>
          </div>
        </div>
        <p class="text-sm font-semibold">{{ item.total_price }} Lei</p>
      </div>
      {% endfor %}
    </div>
    <hr class="my-3">
    <div class="flex justify-between mt-2">
      <p>Subtotal:</p>
      <p>{{ subtotal }} Lei</p>
    </div>
    <div class="flex justify-between mt-2">
      <p>Delivery Fee:</p>
      <p>{{ delivery_fee }} Lei</p>
    </div>
    <hr class="my-3">
    <div class="flex justify-between text-lg font-semibold">
      <p>Total:</p>
      <p>{{ total_price }} Lei</p>
    </div>
  </div>
</div>

{% endblock %}
