<section class="container mx-auto px-4 py-4 ">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Example Product Card -->
        {% for product in products %}
            {% if not product.is_custom %}
            {% if not product.in_store%}
            
            <div class="bg-white overflow-hidden hover:shadow-lg rounded-lg h-full relative">
                <a href="{% url 'product_detail' pk=product.id %}">
                    {% if product.is_new %}
                    <div class="absolute top-0 left-0 bg-pink-400 text-white text-xs font-bold px-2 py-1 rounded-br-lg">
                        New
                    </div>
                    {% endif %}
                    <figure class="h-2/3 transform transition duration-300 hover:scale-110 "><img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-full object-cover"></figure>
                </a>
                <div class="p-4 h-1/3 flex flex-col justify-end">
                    <h3 class="text-xl font-bold text-gray-800">{{ product.name }}</h3>
                    <!-- <p class="text-gray-600 mt-2">{{ product.description }}</p> -->
                    <div id="add-to-cart-container-{{ product.id }}">
                        {% if product.id not in cart_product_ids %}
                        <form id="add-to-cart-form-{{ product.id }}" 
                            hx-post="{% url 'add_to_cart' product.id %}" 
                            class="mt-4">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary hover:bg-blue-700 transition duration-300 ease-in-out transform hover:scale-105">{{ product.price }}</button>
                        </form>
                        {% else %}
                        <a href="/cart/" id="cart-btn" class="btn btn-success mt-2">
                            View in Cart
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        {% endfor %}
        <!-- Repeat Product Cards as Needed -->
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const forms = document.querySelectorAll('[id^="add-to-cart-form-"]');
        forms.forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const productId = form.id.split('-').pop();
                const container = document.getElementById(`add-to-cart-container-${productId}`);
                
                // Immediately show "Already Added" div
                container.innerHTML = `<a href="/cart/" id="cart-btn" class="btn btn-success mt-2">
                        View in Cart
                    </a>`;

                const formData = new FormData(form);

                fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        console.error('Failed to add to cart');
                        // Optionally revert the UI if the request fails
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Optionally revert the UI if an error occurs
                });
            });
        });
    });
</script>