{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto mt-32 max-w-md py-12">

    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="alert {{ message.tags }} p-3 text-center rounded bg-red-100 text-red-700">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %} 

    <form method="POST" action="{% url 'register' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-4xl font-bold text-center mb-6 text-primary">
            <div class="flex items-center mb-4">
                <hr class="flex-grow border-t-2 border-primary">
                <span class="mx-2">Register</span>
                <hr class="flex-grow border-t-2 border-primary">
            </div>
        </h2>
        {% csrf_token %}
        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
            <input type="text" name="username" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" name="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" name="password1" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="password2" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
            <input type="password" name="password2" id="password2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="btn btn-primary w-full">
                Register
            </button>
        </div>
    </form>
    <p class="text-center text-gray-600 text-sm">
        Ai deja un cont? <a href="{% url 'login_page' %}" class="text-blue-500 hover:text-blue-700">Login</a>
    </p>
</div>

{% endblock %}